<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.joshcummings.codeplay.terracotta.logback.PatternMaskingLayout">
                <maskPattern>\"ssn\"\s*:\s*\"(.*?)\"</maskPattern> <!-- SSN JSON pattern -->
                <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> <!-- address JSON pattern -->
                <maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern> <!-- simple IPv4 pattern -->
                <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- simple email pattern -->
                <maskPattern>username:\s*(.*?)\s</maskPattern>
                <maskPattern>password:\s*(.*?)\s</maskPattern>
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.joshcummings.codeplay.terracotta.servlet.MakeDepositServlet" level="debug"/>
</configuration>